* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    background-color: #2c3e50;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    color: #fff;
}


nav {
    font-family: 'Comfortaa', sans-serif;
    display: flex;
    list-style: none;
    justify-content: center;
    background-color: #344a60;
    padding: 30px 0;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    font-weight: 500;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #cccccc;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    padding: 0 15px;
    position: relative;
}

/* Dropdown Menu Styles */
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    border: 1px solid #ddd;
    border-radius: 4px;
}

nav li:hover .dropdown-menu {
    display: block;
}

.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #ddd;
}

.dropdown-menu a:last-child {
    border-bottom: none;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}

.logo img {
    height: 150px;
    width: auto;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px;
    border-radius: 5px;
}

.doctor-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Comfortaa', sans-serif;
    margin-left: 20px;
}

.doctor-profile {
    display: flex;
    margin-bottom: 20px;
}

.doctor-image {
    border: 2px solid #ffffff;
    box-shadow: 5px 5px 5px #bbbbbb;
    width: 150px;
    margin-right: 10px;
}

.doctor-info {
    display: flex;
    flex-direction: column;
}

.doctor-name {
    text-align: left;
    font-weight: bold;
}

.doctor-bio {
    text-align: left;
}
footer {
    background-color: #f8f8f8;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #2c3e50;
    padding-top: 20px;
    color: white;
    font-family: 'Comfortaa', sans-serif;
}

.footer-section {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.footer-divider {
    background-color: #9dbdc6;
    width: 1px;
    height: 60%;
    margin: auto;
    opacity: 0.6;
}

@media (max-width: 768px) {
    .footer-divider {
        height: 2px;
        width: 80%;
        margin: 10px auto;
    }

    .footer {
        flex-direction: column;
    }

    .footer-section {
        padding: 20px 0;
    }
}