* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    font-family: 'Comfortaa', sans-serif;
    background-color: #f0f0f0;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    font-family: 'Comfortaa', sans-serif;
    display: flex;
    list-style: none;
    justify-content: center;
    background-color: #344a60;
    padding: 30px 0;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    font-weight: 500;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #cccccc;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    padding: 0 15px;
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    border: 1px solid #ddd;
    border-radius: 4px;
}

nav li:hover .dropdown-menu {
    display: block;
}

.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #ddd;
}

.dropdown-menu a:last-child {
    border-bottom: none;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}

.logo img {
    height: 150px;
    width: auto;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px;
    border-radius: 5px;
}

main {
    padding: 20px;
    background-color: #3a506b;
    width: 100%;
    box-sizing: border-box;
    align-items: flex-start;
}

.review {
    font-family: 'Comfortaa', sans-serif;
    margin-bottom: 20px;
    background-color: #3a506b;
    padding: 15px;
    border-radius: 5px;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    width: auto;
}

h2,
p {
    text-align: left;
}

.footer {
    background-color: #2c3e50;
    color: white;
    font-family: 'Comfortaa', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-section {
    flex: 1;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        padding: 20px;
    }

    .footer-section {
        margin: 10px 0;
    }

    .footer-section:last-child {
        margin-bottom: 0;
    }
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    min-height: 0;
}